# ======================
# DJANGO / PYTHON
# ======================
backend/venv/
backend/.venv/
backend/env/

__pycache__/
*.py[cod]
*.pyo

db.sqlite3

*.log

.env
.env.*

media/

staticfiles/

.pytest_cache/
.mypy_cache/

# ======================
# REACT / NEXT.JS
# ======================
frontend/node_modules/

frontend/.next/
frontend/out/

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

# ======================
# FLUTTER
# ======================
mobile/.dart_tool/
mobile/build/

mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

mobile/.packages

mobile/ios/Flutter/ephemeral/
mobile/macos/Flutter/ephemeral/
mobile/windows/flutter/ephemeral/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# SISTEMA OPERACIONAL
# ======================
.DS_Store
Thumbs.db

# ======================
# GIT
# ======================
*.orig